.site-list a {
  position: relative;
  display: block;
  padding-top: 22px;
  padding-bottom: 24px;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: $black;
  z-index: 2;
}

.site-list__item {
  border-top: 1px solid #E6E6E6;
  z-index: 3;


  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 1.0;
  }

  @media (min-width: $tablet-width) {
    border: none;
    margin-left: 25px;

    &:first-child {
      margin-left: 0;
    }

    &--active {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        right: 0;
        bottom: -5px;
        left: 0;
        height: 2px;
        background-color: #68B738;

        @media (min-width: $desktop-width) {
          background-color: #61c16c;
        }
      }
    }

  }
}


@media (min-width: $tablet-width) {
  .site-list {
    display: flex;
    justify-content: end;
    width: 420px;
    flex-grow: 1;

    & a {
      padding: 0;
      padding-top: 20px;
      font-weight: 400;
      font-size: 18px;
      line-height: 24px;
      text-transform: uppercase;

      @media (min-width:$desktop-width) {
        font-size: 20px;
        line-height: 30px;
        color: $white
      }
    }
  }

  @media (min-width: $desktop-width) {
    .site-list {
      width: 480px;
    }
  }
}
